@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tır Nakliyat Uygulaması</h1>
    <p>Tır Nakliyat Uygulamasına Hoşgeldiniz!<a href="https://docs.microsoft.com/aspnet/core">by Onur Çakılı</a>.</p>
</div>
